#a{
display:flex;
width:100%;}

.a{
background-color:lightgray;
width:50%;
position:relative;
DISPLAY:FLEX;
}


#img>img{
width:100%;
border-radius:300px;
left:0;}

.b{
position:relative;
width:50%;
background-color:#AAD8E6;
DISPLAY:FLEX;}

.img2{
width:50%;
}

.img2>img{
width:100%;
border-radius:300px;
height:280px;}

.antrwpos{
position:relative;
width:50%;
height:100%;
}

.antrwpos>span{
position:absolute;
align-items:flex-end;
justife-content:flex-end;
font-style:italic;
font-weight:900;
top:50%;
left:0%;
font-size:2rem;
color:brown;
margin:10px;
text-shadow:10px 10px 10px gray;
}






#diplaEikona{
position:relative;
width:50%;
height:100%;
}
#diplaEikona>span{
position:absolute;
align-items:flex-end;
justife-content:flex-end;
font-style:italic;
font-weight:900;
top:50%;
left:0%;
font-size:2rem;
color:brown;
margin:10px;
text-shadow:10px 10px 10px gray;
}


.main{
width:100%;
display:flex;
}
.robot{
background-color:lightyellow;
width:50%;
}

.robot>span{
height:100%;
width:100%;
font-style:italic;
font-weight:900;
font-size:1.4rem;
color:brown;
margin:2px;}

pre{
white-space: pre-wrap;
world-wrap: break-word;}

.human{
width:50%;
background-color:lightpink;}

.human>span{
height:100%;
width:100%;
font-style:italic;
font-weight:900;
font-size:1.4rem;
color:brown;
margin:4px;
padding:2px;}

